<%redirect "/login" if !Helpers.is_logged_in?(session)%>
  

  <form action='/bplans' method="post">
    Problem:
    <input type="text" name="problem"><br>
    Solution:
    <input type="text" name="solution"><br>
    Key Metrics:
    <input type="text" name="key_metrics"><br>
    Cost Structure:
    <input type="text" name="cost_structure"><br>
    Unique Value Proposition:
    <input type="text" name="unique_value_proposition"><br>
    Unfair Advantage:
    <input type="text" name="unfair_advantage"><br>
    Channels:
    <input type="text" name="channels"><br>
    Customer Segments:
    <input type="text" name="customer_segments"><br>
    Revenue Streams:
    <input type="text" name="revenue_streams"><br>

    Create Your Business Plan
    <input type="submit" name="submit" id="submit">

  </form>

<!-- @bplan = Bplan.create(
  problem: params[:problem],
  solution: params[:solution],
  key_metrics: params[:key_metrics],
  cost_structure: params[:cost_structure],
  unique_value_proposition: params[:unique_value_proposition],
  unfair_advantage: params[:unfair_advantage],
  channels: params[:channels],
  customer_segments: params[:customer_segments],
  revenue_streams: params[:revenue_streams],
) -->
