<%redirect "/login" if !Helpers.is_logged_in?(session)%>
  <br>
  <p>(NOTE: Problem statement and proposed solution are MANDATORY)</p>

  <form action='/bplans' method="post">
    <h4>Problem:</h4>
    <input type="text" name="problem"><br>
    <h4>Solution:</h4>
    <input type="text" name="solution"><br>
    <h4>Key Metrics:</h4>
    <input type="text" name="key_metrics"><br>
    <h4>Cost Structure:</h4>
    <input type="text" name="cost_structure"><br>
    <h4>Unique Value Proposition:</h4>
    <input type="text" name="unique_value_proposition"><br>
    <h4>Unfair Advantage:</h4>
    <input type="text" name="unfair_advantage"><br>
    <h4>Channels:</h4>
    <input type="text" name="channels"><br>
    <h4>Customer Segments:</h4>
    <input type="text" name="customer_segments"><br>
    <h4>Revenue Streams:</h4>
    <input type="text" name="revenue_streams"><br>
    <br>
    Create Your Business Plan
    <input type="submit" name="submit" id="submit">

  </form>

<!-- @bplan = Bplan.create(
  problem: params[:problem],
  solution: params[:solution],
  key_metrics: params[:key_metrics],
  cost_structure: params[:cost_structure],
  unique_value_proposition: params[:unique_value_proposition],
  unfair_advantage: params[:unfair_advantage],
  channels: params[:channels],
  customer_segments: params[:customer_segments],
  revenue_streams: params[:revenue_streams],
) -->
