<%redirect "/login" if !Helpers.is_logged_in?(session)%>

<form action="/logout" method="post">
  <h3>Are you sure you want to Logout?</h3>
  <input id="submit" type="submit" name="logout" value="LOGOUT">
</form>
